body {
    font-family: 'Roboto', sans-serif;
    background-color: #FE786B;
}
.heading {
    font-weight: 700;
}
.subheading {
    font-weight: 300;
}

#middle-div {
    background-color: #FFF;
    border: 1px;
    text-align:center;
    height: 500px;
    width: auto;
    margin: 100px;

}

#location-link {
    border: none;
    text-decoration: none;
}

#location-link:hover {
    text-decoration: underline;
}

.search-grid-container {
    display: grid;
    padding: 100px;
}

.search-grid-item {
    text-align: center;
    padding: 100px;
}

.search-item1 {
    grid-column: 1;
    grid-row: 1;
}

.search-item2 {
    grid-column: 1;
    grid-row: 2;
}



li.longtermListItem{
    display:inline-block;
    padding: 50px;
    text-align:center;
}

.result-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.result-grid-item {
    text-align: center;
    padding: 10px;
}

.result-item1 {
    grid-column: 1 / 1;
    grid-row: 1;
}

.result-item2 {
    grid-column: 2 / 2;
    grid-row: 1;
}
.result-item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
}
.result-item4 {
    grid-column: 0 / 1;
    grid-row: 3;
}
.result-item5 {
    grid-column: 1 / 2;
    grid-row: 3;
}
.result-item6 {
    grid-column: 1 / span 2;
    grid-row: 4;
}