body {
  font-family: 'Roboto', sans-serif;
  color: #5D6D74;
  background: #fe786b;
  background: linear-gradient(90deg, #fe786b 0%, #fe876b 76%); }

#search-middle-div {
  background-color: #FFF;
  border: 1px;
  text-align: center; }

#searchTxt {
  font-size: 25px; }

#result-middle-div {
  background-color: #FFF;
  border: 1px;
  text-align: center;
  height: auto;
  width: auto;
  margin: auto; }

#long-term-icons {
  font-size: 40px;
  margin: 15px; }

#today-elements {
  font-size: 100px;
  margin: 20px;
  padding: 10px; }

#today-elements-aligned {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: -20px;
  height: 50px; }

#location-link {
  border: none;
  text-decoration: none;
  font-size: 15px;
  alignment: center;
  color: #455156; }

#location-link:hover {
  text-decoration: underline; }

.search-grid-container {
  display: grid;
  padding-left: 236px;
  padding-right: 236px;
  padding-top: 80px;
  padding-bottom: 80px; }

.search-grid-item {
  text-align: center; }

.search-item1 {
  grid-column: 1;
  grid-row: 1;
  padding-top: 200px; }

.search-item2 {
  grid-column: 1;
  grid-row: 2;
  padding-top: 30px;
  padding-bottom: 200px; }

#aligned-items {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 20px; }

#search-button {
  margin-bottom: -20px; }

#toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 20px;
  float: right; }

.longtermListItem {
  display: inline-block;
  padding: 40px;
  text-align: center; }

.result-grid-container {
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px; }

.result-grid-item {
  text-align: center; }

#result-buttons-adjacent {
  display: flex;
  justify-content: space-between;
  height: 100px; }

#today-elements-adjacent {
  display: flex;
  padding: auto;
  height: 150px; }

.result-item1 {
  text-align: left;
  color: #455156;
  height: 10px; }

.result-item2 {
  text-align: right;
  alignment: right; }

.result-item3 {
  text-align: left;
  padding-left: 37px;
  height: 50px; }

.result-item4 {
  text-align: left;
  height: 10px;
  padding-bottom: 10px;
  color: #f77f74; }

.result-item5 {
  width: 200px;
  text-align: left;
  height: 100px;
  color: #f77f74; }

.result-item6 {
  text-align: left;
  margin-top: 10px;
  color: #f77f74; }

.result-item7 {
  text-align: left;
  padding: 0; }

/*# sourceMappingURL=index.css.map */
